{% extends 'names_base.html' %}
{% load staticfiles %}

{% block title %} Contacts {% endblock %}

{% block content %}
    
    <div class="container-fluid" style="margin-top:90px;" id="app">

        <div class="row">
            <div class="col-md-12">
                Howdy {{ user.first_name }}!
                <hr>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-offset-2 col-md-8">

                <div class="alert alert-danger" id="form_error" style="display:none;">
                    <strong>Hey!</strong> Please fill all the fields!
                </div>

                <div class="alert alert-info" style="display:none" id="offline_mode">
                    <strong>Hey!</strong> App is running in offline mode. All data will be synced back to server once network connectivity is back!
                </div>

                <div class="alert alert-info" style="display:none" id="online_mode">
                    <strong>Hey!</strong> Looks like network connectivity is back. Trying to sync data with server!
                </div>

                <div class="alert alert-success" style="display:none" id="sync_success">
                    <strong>Success!</strong> Syncing with server was successfull!
                </div>

                <div class="alert alert-danger" id="sync_error" style="display:none">
                    <strong>Error!</strong> Syncing with server failed. If this problem persists, please clear your browser history/cache and try again!
                </div>
                
                <form class="form-inline" role="form" action="." method="GET">
                    <div class="form-group">
                        <label class="sr-only">Name</label>
                        <input id="name" class="form-control" placeholder="Name of the person" autofocus>
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Email</label>
                        <input id="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Phone</label>
                        <input id="phone" class="form-control" placeholder="Phone Number">
                    </div>
                    <button type="submit" class="btn btn-primary" id="create_button">Create</button>
                </form>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-md-offset-2 col-md-8">
                
                <table id="names_list" class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Delete</th>
                    </thead>
                    <tbody id="names_list_body">
                    </tbody>
                </table>

            </div>

        </div> <!-- row -->

        <div class="row">
            <div class="col-md-12">
                <hr>
                <small>
                    Once you are logged in, you can access the app offline.
                    Use the top form to create a Contact.
                    Click on a name to edit the contact.
                    Press Enter in editor to save while editing name, phone or email. <br>
                    The app is written using BackboneJS and Django. <br>
                    Grab the source code at <a href="https://github.com/ansal/offline-contacts">https://github.com/ansal/offline-contacts</a>.
                </small>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

    </div><!-- container-fluid -->
    <!-- JS Templates -->
    <script id="names_template" type="text/template">
        <td>
            <a href="#" class="edit_link info"><%= name %></a>
            <input type="text" class="form-control editor editor_name" placeholder="Enter new name and press Enter" value="<%= name %>">
        </td>
        <td>
            <a href="mailto:<%= email %>" class="info"><%= email %></a>
            <input type="text" class="form-control editor editor_email" placeholder="Enter new email and press Enter" value="<%= email %>">
        </td>
        <td>
            <span class="info"><%= phone %></span>
            <input type="text" class="form-control editor editor_phone" placeholder="Enter new phone and press Enter" value="<%= phone %>">
        </td>
        <td>
            <button class="btn btn-xs btn-danger delete_button">X</button>
        </td>
    </script>
{% endblock %}

{% block js_app %}
    <script src="{% static "js/models.js" %}"></script>
    <script src="{% static "js/collections.js" %}"></script>
    <script src="{% static "js/views.js" %}"></script>
    <script src="{% static "js/offline.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}