{% extends 'base.html' %}

{% block title %} Signin {% endblock %}

{% block content %}

{% if login_error %}
<div class="alert alert-danger">
    <strong>Oh No!</strong> Invalid username or password! Enter correct ones and try again.
</div>
{% endif %}
<form class="form-signin" role="form" method="POST" action="{% url "accounts_login" %}">
  {% csrf_token %}
  <h2 class="form-signin-heading">Welcome Back!</h2>
  <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
  <input type="password" name="password" class="form-control" placeholder="Password" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  <hr>
  <p>
      New here? Signup <a href="{% url "accounts_register" %}">here</a>.
  </p>
</form>

{% endblock %}